            </div>
            <div class="right-container">
                <img src="/assets/LW_Circle.png" alt="" width="150">
                <p>Link Wilder</p>
                <div class="personl-info">
                    <div class="info-ico"><img src="/assets/GitHub_Lockup_Black.png" width="80"></div>
                    <div class="info-text"><a href="https://github.com/LinkWilder">LinkWilder</a></div>
                </div>
            </div>
        </div>
        <footer>
            <div class="footer-item">Thanks to</div>
            <div class="footer-item">GitHub Pages</div>
            <div class="footer-item">Prism</div>
            <div class="footer-item">MathJax</div>
        </footer>
    </div>
</body>
</html>