<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Link Wilder</title>
    <link rel="shortcut icon" href="/assets/LW_Circle.png">
    <link rel="stylesheet" href="/HCJ/style.css">
    <link rel="stylesheet" href="/HCJ/prism.css">
    <script src="/HCJ/javascript.js"></script>
    <script src="/HCJ/prism.js"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js"></script>
    <script src="/HCJ/mathjax.js"></script>
</head>
<body class="line-numbers">
    <div class="body-container">
        <div id="header-container">由javascript.js插入header.html的内容</div>
        <div class="main-container">
            <div class="left-container" id="current-contents">由javascript.js插入章节标题</div>
            <div class="middle-container">
                <div id="header-container">由javascript.js插入header.html的内容</div>