<div class="welcome">
    <div class="welcome-item" style="display: inline-block;">Don't think, just do it!</div>
    <div class="welcome-item" style="display: inline-block;">Thanks to GitHub!</div>
</div>
<nav>
    <div class="nav-item"><a href="index.html">Home Page</a></div>
    <div class="nav-item">
        <a href="python.html">Python</a>
        <div class="nav-sub">
            <a href="#">Python的安装</a>
            <a href="#">Python的标准库</a>
            <a href="#">Python的第三方库</a>
        </div>
    </div>
    <div class="nav-item"><a href="latex.html">LaTeX</a></div>
    <div class="nav-item"><a href="economics.html">Economics</a></div>
    <div class="nav-item"><a href="aboutme.html">About me</a></div>
</nav>