code {
    margin-inline: 3px;
    padding-inline: 3px;
    border-radius: 3px;
    background-color: color-mix(in srgb, white, black 8%);
}
.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    /* 以上是必要设置 */
    padding: 16px;
    border-radius: 10px;
    overflow: auto;
    background-color: color-mix(in srgb, white, black 8%);
}